<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mb.mubai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.mb.mubai.App"
        android:allowBackup="true"
        android:icon="@drawable/mubai"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mb.mubai.ui.main.MainActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.user.login.LoginActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.SeekBarActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.RecyclerActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.ReflectionActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.BannerActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.PinnedHeadListActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.CallPhoneActivity"
            android:theme="@style/MuBaiTheme" />
        <activity
            android:name="com.mb.mubai.ui.test.activity.DownListActivity"
            android:theme="@style/MuBaiTheme" />
    </application>

</manifest>